* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #weather {
    display: none;
    margin-top: 20px;
  }
  
  #current {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #current img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  #place {
    font-size: 20px;
    font-weight: bold;
  }

  #current p {
    font-size: 40px;
    font-weight: bold;
  }
  
  #forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .day {
    width: calc(20% - 20px);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .day p {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .day img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .day:last-child {
    margin-right: 0;
  }
  
